h1{
    color: palevioletred;
    text-align: center;
    font-family: Arial;
    font-size: 45px;
}

.destacado {
    font-weight: bold;
    color: rgb(87, 87, 185);
    text-align: center;
}
#favorito {
    color: #1ABC9C;
}

p{
    font-family: Cambria;
    font-size: 14px;
    text-align: justify;
}

header, nav, article, footer{
    border:1px solid black;
    display: block;
}

header{
    background-color: #CBF3F0;
    padding: 20px 10px;
}

nav{
    overflow: hidden;
    background-color: #83C5BE;
    padding: 10px 5px;
}

.agrupar{
    border:1px;
    margin: auto;
    width:960px;
}

section { 
    width: 600px;
    float:left;
}

aside{
    padding: 30px;
    width:200px;
    float:right;
    align-items: center;
}

footer {
    overflow: hidden;
    background-color:#006D77;
    padding: 20px 10px;
    text-align: center;
    clear:both;
}

footer li{
    list-style: none;
    font:bold 14px verdana;
    padding: 10px;
    display: inline-block;
}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #ddd;
    border:1px solid gray;
    color: black;
   }

nav a.active{
    background-color: dodgerblue;
    border:1px solid gray;
    color: white;
}

#fondo{
    background-image: url('imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
}

.product img{
    width: 150px;
}

.card{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.formulario{
    margin: 0;
    padding: 0;
    background: url(imagenes/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100hv;
}

.login_box{
    width: 320px;
    height: 420px;
    background:papayawhip;
    color: rgb(35, 178, 197);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -10%);
    box-sizing: border-box;
    padding: 70px 38px;
}

.login_box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
    
    
        
   